<div class="container" (click)="goToPokemon()">
  <div class="card">
    <div class="card-head" [ngStyle]="{background: style}">
      <img src="/assets/sprites/{{indexStr}}MS.png" alt="logo" class="card-logo">
      <img src="/assets/thumbnails/{{indexStr}}.png" alt="Bulbasaur" class="product-img">
      <div class="product-detail">
        <h2>{{pokemon.name.english}}</h2>
      </div>
      <span class="back-text">
        {{pokemon.name.japanese}}
      </span>
    </div>
    <div class="card-body">
      <div class="product-desc">
        <span class="product-title">
          {{pokemon.name.english | uppercase}}
          <div *ngFor="let type of pokemon.type">
            <span class="badge" >
              {{type}}
            </span>
          </div>
          
        </span>
      </div>
      <div class="product-properties">
        <span class="product-size" *ngFor="let stats of pokemon.base | keyvalue">
          <h4>{{stats.key}}</h4>
          <ul class="ul-size">
            <li><a>{{stats.value}}</a></li>
          </ul>
        </span>
        <span class="product-price">
          #<b>{{pokemon.id}}</b>
        </span>
      </div>
    </div>
  </div>
</div>